.jumbotron {
    background-color: #000000c5;
    color: #F3F3F3;
}

.main-text {
    font-family: 'Righteous', cursive;
    color: #F3F3F3;
}

.main-text .backup-text {
    font-family: 'Righteous', cursive;
    font-size: inherit;
    color: #FF5F57;
}

.index::after,
.login::after {
    content: "";
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 100%;
    z-index: -1;
    background-color: black;
    background-image: url(../assets/img/Webp.net-resizeimage.jpg);
    filter: blur(5px);    
}