/******* PALETA **********
Azul
.color-primary-0 { color: #3C40C6 }	
.color-primary-1 { color: #8285E1 }
.color-primary-2 { color: #5B5ED2 }
.color-primary-3 { color: #1A1EBE }
.color-primary-4 { color: #12158D }

Laranja
.color-primary-0 { color: #FF5F57 }
.color-primary-1 { color: #FFAAA6 }
.color-primary-2 { color: #FF817A }
.color-primary-3 { color: #EA3A30 }
.color-primary-4 { color: #BF1B13 }




/***********************************
1. Fixes
**********************************/

.btn-primary {
   background-color: #FF5F57; 
   border: none;
}

.btn-primary:hover, 
.btn-primary:active,
.btn-primary:link {
    background-color: #BF1B13 !important; 
    box-shadow: none !important;
}

.btn:focus {
    box-shadow: none;
}

.navbar {
    background-color: #3C40C6;
}

.navbar a {
    color: #ebebeb !important;
}

/*************************************
2. Buscador
************************************/
/* 2.1 BOTÃO */
.add-treino {
    border-radius: 60%;
    position: fixed;
    top: 34%;
    left: 93%;
    z-index: 2;
    height: 50px;
    width: 50px;
}

.add-treino .inner-display {
    background-color: #FFAAA6;
    position: fixed;
    top: 37.4%;
    border-radius: 47%;
    left: 94.9%;
    color: rgba(0, 0, 0, 0.75);
    width: 24px
}



/* 2.2 CARDS */
.card-columns .card {
    border: 5px solid rgba(255, 95, 87, 0);
    transition: 0.3s border;
}

.card-body {
    border-top: 1px solid rgba(0, 0, 0, 0.250);
}

.card-treino img {
    max-height: 300px;
    width: 160px;
}

.card-columns .card-treino:hover {
    z-index: 1;
    border: 5px solid #FF5F57 
}
